body {
    font-display:  Helvetica;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px
}

input, button {
    padding: 10px;
    margin: 10px 0;
}

#country-info, #bordering countries {
    margin: 20px 0;
    padding: 15px;
    border-radius: 5px;
}

.country-card {
    margin: 10px 0;
    padding: 10px;
    background: #f9f9f9
}